.Page404 {
    
    color: #FF6060;
    height: 100%;
    .messageError{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // height: 100%;
        h1 {
            font-size: 8rem;
            font-weight: 700;
            margin: 10rem 2rem 0 2rem ;
        }
        h2{
            display: flex;
            // justify-content: center;
            // align-items: center;
            width: 100%;
            text-align: center;
            width: fit-content;

        }
        .Page404__returnHome {
            margin: 10rem 0;
            text-decoration: underline;
            color: #FF6060;
        }
    }
}
@media #{$medium-up} {
    .Page404 {
        // color: #FF6060;
        // height: 100%;
        .messageError{
            // display: flex;
            // flex-direction: column;
            // justify-content: space-between;
            align-items: center;
            // height: 100%;
            h1 {
                font-size: 15rem;
                // font-weight: 700;
                margin: 2rem 0;
            }
            h2{
                margin: 0;
                
            }
            .Page404__returnHome {
                margin: 12rem 0;
                // text-decoration: underline;
                // color: #FF6060;
            }
        }
    }
}