@font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    src: url('../../asset/font/Montserrat/Montserrat-Regular.ttf')
}
@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url('../../asset/font/Montserrat/Montserrat-Regular.ttf')
}

body {
    font-family: 'Montserrat';
    font-weight: 500;
}