body {
    margin: 0;
    padding:0;

    
    #root{
        display: grid;
        grid-template-rows: 8vh auto auto;
        grid-template-columns: 1fr;
        justify-content: flex-start;

        main {
            min-height: 92vh;
            padding: 1rem;
        }
    }
}
@media #{$medium-up} {
   body {
        #root{
            display: grid;
            grid-template-rows: 10vh auto auto;
            grid-template-columns: 1fr;
            justify-content: flex-start;

            main {
                min-height: 90vh;
                padding: 2rem 3rem;
            }
        }
   }
    

}