.carrousel {
    width: fit-content;
    height: 255px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 2rem auto 2rem;
    grid-template-rows: 1fr auto 1fr;
    justify-content: space-between;
    border-radius: 10px;

    img {
        align-self: stretch;
        grid-column: 1 / span 3;
        grid-row: 1 / span 3 ;
        width: 100%;
         height: 400px;
        object-fit: cover;
        z-index: 1;
    }
    
    .left, .right {
        display: flex;
        justify-content: center;
        align-items: center;
        fill: #FFFFFF;
        z-index: 2;
        
    }

    .left:hover, .right:hover {
        fill: #FF6060;
    }

    .left{
        grid-column: 1 ;
        grid-row: 2 ;
        margin-left: 1rem
    }

    .right{
        grid-column: 3 ;
        grid-row: 2 ;
        margin-right: 1rem;
    }
    
    .carrousel__page {
        display: none;
    }
}
@media #{$medium-up} {
    .carrousel {
        width: 100%;
        height: 400px;
        grid-template-columns: 4rem auto 4rem;
        border-radius: 25px;
        
        .carrousel__page {
            display: inherit;
            grid-column: 2 ;
            grid-row: 3 ;
            z-index: 3;
            align-self: flex-end;
            justify-self: center;
            color:#FFFFFF;
        }
    }
}