footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    background-color: #000000;
    color: #FFFFFF;
    gap: 1rem;
    width: 100%;
}
@media #{$medium-up} {
    footer {
        padding: 6rem 0 2rem 0;
        gap: 3rem;
    }
}