.rental__presentation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    
    h1 {
        font-size: 1.4rem;
        margin: 0;
        font-weight: 500;
    }
    p{
        font-size: 0.9rem;
        margin: 0;
    }
}
@media #{$medium-up} {
    .rental__presentation {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
        h1 {
            // padding-top: 0.7rem;
            font-size: 2rem;
        }
        p{
            font-size: 1rem;
            
        }
    }
}