
.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 0 1rem;
    nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1.5rem;
    }
    a {
        text-decoration: none;
        color: #FF6060;
    }
    a:hover {
        filter: brightness(75%);
    }
    .active{
        text-decoration: underline;
    }
    .logo {
        align-self: center;
        width: 7rem;
        height: 100%;
        color:#FF6060;
    }
}

@media #{$small-up} {
    .NavBar {
        padding: 2rem 3rem 0rem 3rem;

        nav {
            gap: 2.5rem;
        }
        // .logo {
        //     width: 7rem;
            
        // }
    }
}
@media #{$medium-up} {
    .NavBar {
        padding: 2rem 3rem 0rem 3rem;

        nav {
            gap: 2.5rem;
        }
        .logo {
            width: 7rem;
            // height: fi;
        }
    }
}
@media #{$large-up} {
    .NavBar {
        padding: 2rem 3rem 0rem 3rem;

        nav {
            gap: 2.5rem;
        }
        .logo {
            width: 10rem;
            // height: fi;
        }
    }
}