header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.5rem;
    nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 2.5rem;
    }
    a {
        text-decoration: none;
        color: #FF6060;
    }
    .active{
        text-decoration: underline;
    }
    .logo {
        align-self: flex-start;
    }
}