.rating {
    display: flex;
    justify-content: flex-start;
    gap: 0.4rem;


    .star {
        width: 1.4rem;
        
        fill:#FF6060;
    }
    .starEmpty {
        width: 1.4rem;
      
        fill: #E3E3E3;
    }
}
@media #{$small-up} {
    .rating {
    
        .star {
            width: 2rem;
        }
        .starEmpty {
            width: 2rem;
        }
    }
}
@media #{$medium-up} {
    .rating {
        justify-content: flex-end;
    
       
    }
}