.tags__container {
    display: flex;
     gap: 1rem;
    .tag {
        height: 1.5rem;
        padding: 0.5rem;
        border-radius: 10px;
        background-color: #FF6060;
        color: #FFFFFF;
    }
}