.tags__container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    grid-auto-flow: row;
    justify-content: flex-start;
    align-items: start;
    gap: 0.5rem;
    .tag {
        padding: 0.2rem 1.5rem;
        border-radius: 10px;
        background-color: #FF6060;
        color: #FFFFFF;
        white-space: nowrap;
        font-size: 0.8rem;
        display: block;
        text-align: center;
        margin: auto;
        
    }
}
@media #{$medium-up} {
    .tags__container {
        grid-template-columns: auto auto auto auto;
        gap:1rem;
        width: 100%;
        .tag {
            padding: 0.5rem 1.5rem;
        //    font-size: inherit;
           margin: auto;
           
        }
    }
}