.tags__container {
    display: grid;
    width: 90%;
    // grid-template-rows: ;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-flow: row;
        gap: 1rem;
    .tag {
        padding: 0.2rem 0.5rem;
        border-radius: 10px;
        background-color: #FF6060;
        color: #FFFFFF;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media #{$medium-up} {
    .tags__container {
        // display: flex;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        width: inherit;
        //  gap: 1rem;
        .tag {
            padding: 0rem .5rem;
            // border-radius: 10px;
            height: 2rem;
            // background-color: #FF6060;
            // color: #FFFFFF;
           font-size: inherit;
        }
    }
}